<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head"); %>
    <link rel="stylesheet" href="https://thdoan.github.io/bootstrap-select/css/bootstrap-select.css">
    <script src="https://thdoan.github.io/bootstrap-select/js/bootstrap-select.js"></script>
</head>
<body class="container">

<header>
    <%- include("partials/header"); %>
</header>

<main>
    <form action="/applySettings" method="POST">
    <div class="container">
        <div class="row">
            <div class="pane">
              <div class="card-panel white">
                <h5>General</h5>
                <div class="row">
                    <div class="input-field col s6">
                      <input id="screenSizeX" name="screenSizeX" type="text" value='<%- settingScreenSizeX %>' class="validate">
                      <label for="screenSizeX">Screen X</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="screenSizeY" name="screenSizeY" type="text" value='<%- settingScreenSizeY %>' class="validate">
                      <label for="screenSizeY">Screen Y</label>
                    </div>
                </div>

                <h5>Selección</h5>

                <div class="input-field">
                    <select class="icons" name="selectedChampion">
                        <% Object.keys(allChampionsList).forEach(function(prop) { %>
                            <% if(selectedChampionId == allChampionsList[prop]){ %>
                            <option data-icon="http://ddragon.leagueoflegends.com/cdn/11.22.1/img/champion/<%- prop %>.png" selected="selected" value=<%- allChampionsList[prop] %>><%- prop %></option>
                            <% } else { %>
                                <option data-icon="http://ddragon.leagueoflegends.com/cdn/11.22.1/img/champion/<%- prop %>.png" value=<%- allChampionsList[prop] %>><%- prop %></option>
                          <% }}); %>
                    </select>
                    <label>Campeón</label>
                </div>

                <div class="input-field">
                    <select class="icons" name="selectedQueue">
                        <% Object.keys(allQueues).forEach(function(prop) { %>
                            <% if(selectedQueueId == allQueues[prop]){ %>
                                <option selected="selected" value=<%- allQueues[prop] %>><%- prop %></option>
                                <% } else { %>
                                <option value=<%- allQueues[prop] %>><%- prop %></option>
                          <% }}); %>
                    </select>
                    <label>Cola</label>
                </div>
                <h5>Juego</h5>
                <p>Por hacer: usar habilidades, seleccionar tipo de ia, etc...</p>

                <input value="Guardar Configuración" type="submit" class="waves-effect waves-light btn-small"></button>
              </div>
            </div>
          </div>
    </div>
</form>
</main>

<footer>
    <%- include("partials/footer"); %>
</footer>

</body>
</html>